{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="hero">
    <div class="hero-content">
        <h2>Maquillaje de Lujo</h2>
        <p>Descubre nuestra colección exclusiva de productos de belleza.</p>
    </div>
</section>

<section class="productos">

    {% for producto in productos %}
    <div class="card">

        <img src="{% static producto.imagen %}" alt="{{ producto.nombre }}">

        <h3>{{ producto.nombre }}</h3>

        <p>{{ producto.descripcion }}</p>

        <div class="precio">
            ${{ producto.precio }}
        </div>

    </div>
    {% endfor %}

</section>

{% endblock %}