# Entorno virtual
venv/
.venv/
env/

# Base de datos local (SQLite)
*.sqlite3

# Archivos temporales de Python
__pycache__/
*.pyc

# Configuraciones del editor
.vscode/
.idea/

# Archivos de entorno (Credenciales secretas)
.env